<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Bike Culver City Crash Map</title>

    <link rel="stylesheet" type="text/css" href="./css/mapstyle.css"/>

    <!-- Google Maps API Script (with async loading and callback) -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=marker&callback=initMap">
    </script>


   
</head>

<body>
    <div class="header" id="myHeader" align="center">
       <!---- <img id="logo" align="center" src="../assets/BCC_NavyWhite_Logo.png"> -->
    </div> 

    <div id="nav">
        <h1>Crash Maps</h1>
    </div>

    <div id="map"></div>



<script>
    // Get the current year
    const currentYear = new Date().getFullYear();

    // Populate the year dropdown dynamically with options from 2020 to the current year
    const yearSelect = document.getElementById("year-filter");
    for (let year = 2020; year <= currentYear; year++) {
        const option = document.createElement("option");
        option.value = year;
        option.textContent = year;
        if (year === currentYear) {
            option.selected = true; // Set current year as the default
        }
        yearSelect.appendChild(option);
    }
</script>
<script src="./js/devmaps.js"></script>
    <!-- Form for adding crash data (optional) -->
    <!--
    <form class="container" method="post" action="/">
        <div>
            <label for="posl">Location: </label>
            <input class="form-control" id="posl" name="position">
        </div>
        <div>
            <label for="locl">Location Description: </label>
            <input class="form-control" id="locl" name="locationDesc">
        </div>
        <div class="form-group">
            <label for="titleL">Report</label>
            <textarea class="form-control" id="titleL" name="Title"></textarea>
        </div>
        <div>
            <label for="linkl">Links: </label>
            <input class="form-control" id="linkl" name="link">
        </div>
        <div>
            <label for="typel">Type: </label>
            <input class="form-control" id="typel" name="type">
        </div>
        <div>
            <label for="datel">Date: </label>
            <input class="form-control" id="datel" name="date">
        </div>

        <button>ADD TO MONGODB</button>
    </form>
    -->
</body>
</html>
